
<section class="section section--pattern-trabalhe-conosco work-with-us">
    <div class="container">
        <div class="row justify-content-center align-items-center" id="recrutamento">
            <div class="col-12 col-md-8 work-with-us--bg">
                <figure class="work-with-us__figureA">
                    <img src="assets/images/fotoA.jpg" alt="">
                </figure>
                <figure class="work-with-us__figureB">
                    <img src="assets/images/fotoB.jpg" alt="">
                </figure>
                <figure class="work-with-us__figureC">
                    <img src="assets/images/fotoC.jpg" alt="">
                </figure>
                <figure class="work-with-us__figureD">
                    <img src="assets/images/fotoD.jpg" alt="">
                </figure>
                <figure class="work-with-us__figure-center">
                    <img src="assets/images/foto-center.jpg" alt="">
                </figure>
                <div class="work-with-us__circle3">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="work-with-us__text">
                    <h2 class="section__hat">
                        trabalhe conosco
                    </h2>
                    <h3 class="section__title">
                        gosta de inovação? vem com a gente!
                    </h3>
                    <div class="section__excerpt">
                        <p>
                            Confira as áreas em que atuamos e os programas e linguagens com que trabalhamos
                        </p>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modalForm" class="section__button">
                        Confira
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>