.section{
    padding: 64px 0;
	background:  url('assets/images/grid.svg') repeat center, url('assets/images/nuvens.svg') repeat center rgba(8, 12, 54, 1);

    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 104%;
        color: $clear;
        z-index: 2;
        &--sobre{
            font-size: 40px;
            line-height: 42px;
            color: $clear;
        }
        &--missao{
            font-size: 40px;
            line-height: 59px;
            color: $clear;
            text-align: center;
            font-weight: 500;
            z-index: 2;
            margin-bottom: 0;
        }
    }
    &__excerpt{
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: $secondary;
        }
    }
    &__hat{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: $primary;
    }
    &__sobre-nos-texto{
        margin: 0 0 24px -90px;
    }

    &__figure{
        width: 116%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease-out;
        }
        &:after{
            content: '';
            width: 84%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(251.71deg, rgba(8, 12, 54, 0.82) 18.4%, rgba(8, 12, 54, 0.4) 79.61%);
            background-size: cover;
            transition: all 0.3s ease-out;
        }
    }
    &__selo{
        position: absolute;
        z-index: 1;
        top: 50px;
        left: -32px;
    }
    &__button{
        width: 141px;
        height: 47px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 24px;
        background: $primary;
        color: $dark;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        box-shadow: 0px 16px 56px -12px rgba(0, 240, 255, 0.4);
        z-index: 2;
        position: absolute;
        &:hover{
            background: $clear;
            color: #080C36;
            box-shadow: 0px 16px 56px -12px #bbc1ff;
            text-decoration: none;
        }
    }
    &--missao{
        min-height: 736px;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            background: url('assets/images/ellipse-purple.svg') no-repeat center;
            position: absolute;
            width: 100%;
            height: 420px;
            top: 138px;
            -webkit-animation: rotate-center 5s linear infinite;
            animation: rotate-center 5s linear infinite;
        }
        &::after{
            content: '';
            background: url('assets/images/ellipse-purple-third.svg') no-repeat center;
            position: absolute;
            width: 100%;
            height: 736px;
            top: -20px;
            -webkit-animation: rotate-center 50s linear infinite;
            animation: rotate-center 50s linear infinite;
        }
    }

    &--pattern-contato{
        position: relative;
        overflow: hidden;
        &:before{
            content: url('assets/images/pattern-contato.png');
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(6px);
        }
    }

    &--pattern-trabalhe-conosco{
        position: relative;
        overflow: hidden;
        margin-top: -50px;
        &:before{
            content: url('assets/images/pattern-trabalhe-conosco.png');
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(6px);
        }
        @media (max-width: 768px) {
            margin-top: 0;
            &:before{
                display: none;
            }
        }
    }

    &--pattern-portfolio{
        position: relative;
        overflow: hidden;
        &:before{
            content: url('assets/images/pattern-portfolio.png');
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(6px);
        }
    }

    &--pattern-main{
        position: relative;
        overflow: hidden;
        &:before{
            content: url('assets/images/pattern-sobre.png');
            position: absolute;
            vertical-align: center;
            top: -270px;
            left: 0;
            transform: translateY(6px);
        }
        &:after{
            content: url('assets/images/pattern-planejamento.png');
            position: absolute;
            vertical-align: center;
            bottom: -130px;
            right: 0;
            transform: translateY(6px);
        }
        

    }

    &--second-circle{
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            background: url('assets/images/ellipse-purple-second.svg') no-repeat center;
            position: absolute;
            width: 100%;
            height: 572px;
            top: 62px;
            -webkit-animation: rotate-center 50s linear infinite reverse;
            animation: rotate-center 50s linear infinite reverse;
        }
    }
    
    @-webkit-keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
    }
      
    @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
    }

    @media (max-width: 1199.98px) {
        &__selo{
            top: 0;
            left: 0;
        }
        &__sobre-nos-texto{
            margin: 24px 0 24px 0;
        }
    }
    @media (max-width: 768px) {
        &--pattern-main{
            &:before{
                opacity: 0.4;
            }
            &:after{
                opacity: 0.4;
            }
        }

        &--pattern-portfolio{
            &:before{
                opacity: 0.6;
            }
        }

        &--pattern-contato{
            &:after{
                opacity: 0.6;
            }
        }

        &__hat{
            font-size: 18px;
            line-height: 22px;
        }
        &__title{
            font-size: 28px;
            line-height: 29px;
            margin: 16px 0 20px 0;
            &--sobre{
                font-size: 26px;
                line-height: 28px;
            }
            &--missao{
                font-size: 28px;
                line-height: 39px;
            }
        }
        &__figure{
            width: calc(100% + 170px);
            margin-left: -70px;
            &:after{
                background: linear-gradient(340.18deg, #080C36 7.51%, rgba(8, 12, 54, 0.4) 58.99%);
                width: 100%;
            }
        }
        &--missao{
            min-height: 490px;
            padding: 0 15px;
            &::before{
                content: '';
                background: url('assets/images/ellipse-purple-responsive.svg') no-repeat center;
                position: absolute;
                width: 100%;
                height: 314px;
                top: 86px;
                -webkit-animation: rotate-center 5s linear infinite;
                animation: rotate-center 5s linear infinite;
            }
            &::after{
                display: none;
            }
        }
        &--second-circle{
            width: calc(100% + 30px);
            margin-left: -15px;
            &:before{
                display: none;
            }
        }
        &__excerpt {
            p {
                font-size: 18px;
                line-height: 29px;
                margin-bottom: 32px;
            }
        }
        &__selo{
            display: none;
        }
        &__sobre-nos-texto{
            margin: 24px 0 24px 0;
        }
    }
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    border-radius: 3px;
    width: 84%;
}