<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer__container">
                <p class="footer__text">Venha fazer a Angola de amanhã hoje!</p>
            </div>
            <div class="col-md-12">
                <hr class="footer__line">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="footer__copy">Nuvenz 2021. Todos os direitos reservados</p>
            </div>
            <div class="col-md-4">
                <ul class="footer__social">
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="footer__copy text-center text-md-right"><a href="">Termos de uso </a> | <a href=""> Política de privacidade</a></p>
            </div>
        </div>
    </div>
</footer>