<section class="section section--pattern-portfolio portfolio" id="portfolio">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-3">
                <div class="portfolio__texto">
                    <h2 class="portfolio__hat">
                        portfolio
                    </h2>
                    <h3 class="portfolio__title">
                        nossos trabalhos
                    </h3>
                </div>
                <div class="portfolio__excerpt">
                    <p>
                        Confira alguns exemplos de projetos desenvolvidos pela equipe da Nuvenz
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="slider-portfolio__content">
                    <div class="slider-portfolio slider-portfolio__items-0" id="slider-portfolio__items-0">
                        <div class="slider-portfolio__item">
                            <div class="card-portfolio">
                                <a href="#" class="embed-responsive-item" data-toggle="modal" data-target="#modalImage-0">
                                    <figure class="card-portfolio__figure">
                                        <img src="assets/images/slider-portfolio-1.png" alt="">
                                    </figure>
                                    <div class="card-portfolio__content">
                                        <h2 class="card-portfolio__title">Zukese App</h2>
                                        <p class="card-portfolio__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices in pellentesque condimentum.
                                        </p>
                                    </div>
                                    <div class="card-portfolio__button">
                                        Ver detalhes
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider-portfolio__item">
                            <div class="card-portfolio">
                                <a href="#">
                                    <figure class="card-portfolio__figure">
                                        <img src="assets/images/slider-portfolio-2.png" alt="">
                                    </figure>
                                    <div class="card-portfolio__content">
                                        <h2 class="card-portfolio__title">Zukese App</h2>
                                        <p class="card-portfolio__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices in pellentesque condimentum.
                                        </p>
                                    </div>
                                    <div class="card-portfolio__button">
                                        Ver detalhes
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider-portfolio__item">
                            <div class="card-portfolio">
                                <a href="#">
                                    <figure class="card-portfolio__figure">
                                        <img src="assets/images/slider-portfolio-3.png" alt="">
                                    </figure>
                                    <div class="card-portfolio__content">
                                        <h2 class="card-portfolio__title">Zukese App</h2>
                                        <p class="card-portfolio__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices in pellentesque condimentum.
                                        </p>
                                    </div>
                                    <div class="card-portfolio__button">
                                        Ver detalhes
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider-portfolio__item">
                            <div class="card-portfolio">
                                <a href="#">
                                    <figure class="card-portfolio__figure">
                                        <img src="assets/images/slider-portfolio-1.png" alt="">
                                    </figure>
                                    <div class="card-portfolio__content">
                                        <h2 class="card-portfolio__title">Zukese App</h2>
                                        <p class="card-portfolio__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices in pellentesque condimentum.
                                        </p>
                                    </div>
                                    <div class="card-portfolio__button">
                                        Ver detalhes
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider-portfolio__item">
                            <div class="card-portfolio">
                                <a href="#">
                                    <figure class="card-portfolio__figure">
                                        <img src="assets/images/slider-portfolio-2.png" alt="">
                                    </figure>
                                    <div class="card-portfolio__content">
                                        <h2 class="card-portfolio__title">Zukese App</h2>
                                        <p class="card-portfolio__excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices in pellentesque condimentum.
                                        </p>
                                    </div>
                                    <div class="card-portfolio__button">
                                        Ver detalhes
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>