<div class="loader__wrapper loader__wrapper--pages">
    <div class="loader">
        <div></div><div></div><div></div><div></div>
        <span>Carregando...</span>
    </div>
</div>

<header class="header">
    <div class="header__content">
        <div class="container">
            <div class="row flex-row-reverse flex-md-row justify-content-between align-items-center">
                <a href="#contato" class="header__contato2 mr-3">
                    Contato
                </a>
                <div class="pl-0">
                    <div class="header__brand">
                        <a href="index.html">
                            <img src="assets/images/logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="pl-3 pr-0">
                    <button class="header__toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="header__nav">
                        <ul class="header__nav--list">
                            <li>
                                <a href="#sobre">
                                    Sobre
                                </a>
                            </li>
                            <li>
                                <a href="#planejamento">
                                    Design
                                </a>
                            </li>
                            <li>
                                <a href="#tecnologia">
                                    Tecnologia
                                </a>
                            </li>
                            <li>
                                <a href="#portfolio">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#recrutamento">
                                    Recrutamento
                                </a>
                            </li>
                            <li>
                                <a href="#contato" class="header__contato">
                                    Contato
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>