<div class="section technologies" id="tecnologia">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="technologies__texto">
                    <h2 class="technologies__hat">
                        tecnologia
                    </h2>
                    <h3 class="technologies__title">
                        nossa expertise
                    </h3>
                    <div class="technologies__excerpt">
                        <p>
                            trabalhamos com as mais modernas ferramentas de criação e produção digital
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row flex-wrap justify-content-center technologies__wrapper">

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/js.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Javascript
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content active">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>

            <div class="technologies__item">
                <div class="technologies__content">
                    <img src="assets/images/ionic.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            Ionic
                        </p>
                    </div>
                </div>
                <div class="technologies__content">
                    <img src="assets/images/css3.svg" class="technologies__figure" alt="">
                    <div class="technologies__icon--texto">
                        <p>
                            CSS 3
                        </p>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>