<form action="#" class="form">

    <!--div class="alert alert-danger">
        Ocorreu um problema no envio dos seus dados. Os erros foram destacados abaixo.
    </div>
    
    <div class="alert alert-success">
        Mensagem enviada com sucesso! :)
    </div-->
    <input type="text" name="name" id="name" placeholder="Nome">

    <input type="tel" name="phone" id="phone" placeholder="Telefone">
    
    <input type="email" name="email" id="name" placeholder="Email">

    <textarea name="message" id="message" placeholder="Mensagem"></textarea>

    <div class="row justify-content-end">
        <input type="submit" name="enviar" id="enviar" value="Enviar">
    </div>

</form>