.planning{
    padding: 0 0 64px 0;
    margin-top: -46px;
    &__title{
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        color: $clear;
        margin: 20px 0 12px 0;
        &--small{
            font-size: 20px;
            line-height: 25px;
            color: $clear;
            font-weight: 600;
        }
    }
    &__excerpt{
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: $secondary;
        }
        &--small{
            p{
                font-size: 16px;
                line-height: 22px;
                color: $secondary;
                font-weight: 400;
            }
        }
    }
    &__texto{
        margin: 0;
        &--small{
            margin: 0 0 78px 0;
        }
    }
    &__hat{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: $primary;
    }

    @media (max-width: 768px) {
        padding-bottom: 72px;
        &__texto--small{
            display: flex;
            margin-bottom: 40px;
            figure{
                margin: 0;
                img{
                    top: 0;
                }
            }
        }
        &__content{
            margin-left: 16px;
        }
        &__hat{
            font-size: 18px;
            line-height: 22px;
        }
        &__title{
            font-size: 28px;
            line-height: 29px;
            margin: 16px 0 20px 0;
            &--small{
                margin-bottom: 12px;
            }
        }
        &__excerpt{
            p{
                font-size: 18px;
                line-height: 29px;
                margin-bottom: 40px;
            }
        }
    }
}